.remote
  = form_for(:import, :url => admin_import_leads_path, :html => { :multipart => true }) do |f|

    %table
      %tr
        %td
          .label #{t :assigned_to}:
          = f.select :assigned_to, User.all.map { |u| [ u.name, u.id ] }
        %td= spacer
      %tr
        %td
          .label #{t :csv_file}:
          = f.file_field :csv_file
      %tr
        %td
          .label #{t :make_contact}:
          = f.check_box :make_contact

      -# %tr
      -#   %td
      -#     .label #{t :tag_with}:
      -#     = f.text_field :tag_with, :input_html =>{:size=>20}

    .buttonbar
      = f.submit t(:import_leads)
      #{t :or}
      = link_to_cancel new_lead_path
